*{ margin: 0; padding: 0;}

body{
	background:#fffffa ;
}

header{
	width:100%;
	overflow:hidden;
	background:#252932;
	margin-bottom:20px;

}

.wrapper{
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden; 
}

header .logo{
	color:#f2f2f2;
	font-size:50px;
	font-family:Algerian;
	line-height:200px;
	float:left;
}

header nav{
	float:right;
	line-height:200px;
}


header nav a {
	display:inline-block;
	color:#fffffa;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#e71834;
	border-radius:50px;

}

.header2 {
	position:fixed;
	height:100px;
}

.header2 .logo{
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}

.contenido {
	padding-top: 100px;
}

.contenido p {
	margin-bottom:1em;

}

@media screen and (max-width:950px){
	header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
	}

	.header2 {
		height:auto;
	}

	.header2 .logo,
	.header2 nav {
		line-height:50px;}
}

//slideshow//

*{
	margin:0;
	padding;0;
}

body{
	background:#f2f2f2;
}

.main{
	widows: 90%;
	max-width:1000px;
	margin:20px auto;
	overflow:hidden;
}

.slides{
	width:100%;
}

.slides img{
	width:100%;

}

.slidesjs-pagination {
	background:#e71834;
	list-style:none;
	overflow:hidden;
}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color: #fffffa;
	text-decoration:none;
}

.slidesjs-pagination li a:hover {
	background:#252932;

}
.slides .active {
	background:#252932;
}

.slidesjs-navigation{
	background:#ffffff;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
	float: right;
}

.principal {
	position:relative;
	color:#000;

}

.principal article {
	padding:20px;
	background:#ffffff;
	margin-bottom:20px;
}

.principal article p {
	margin-bottom:20px;
	line-height:24px;
	font-family:sans-serif,helvetica;
}
